#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(https://1.bp.blogspot.com/-9aGofnbJeyM/UnbDKk6qXBI/AAAAAAAAAJE/5KuuhqR6M3c/s1600/imagenes-de-perritos-bonitos-blancos.jpg);
}

.mainPage {
  flex-grow: 1;
}
